
<h2 class="mainhd">Order Statistics</h2>
<div class="_ordertypeshd">
  <span class="_box _boxborder" >DBC :-
    396.90<mat-icon title="Orders SuccesFully Processed" class="_arricon _arrup">arrow_upward</mat-icon>
    79.7<mat-icon title="Orders In Process" class="_arricon _arrprocess">arrow_forward</mat-icon>
    3.90<mat-icon title="Orders Failed to Process" class="_arricon _arrdown">arrow_downward</mat-icon>
  </span>
  <span class="_box _boxborder">DPA :-
    481.90<mat-icon class="_arricon _arrup">arrow_upward</mat-icon>
    56.8<mat-icon class="_arricon _arrprocess">arrow_forward</mat-icon>
    4.90<mat-icon class="_arricon _arrdown">arrow_downward</mat-icon>
  </span>
  <span class="_boxn">LEASE :-
    274.50<mat-icon class="_arricon _arrup">arrow_upward</mat-icon>
    45.8<mat-icon class="_arricon _arrprocess">arrow_forward</mat-icon>
    2.04<mat-icon class="_arricon _arrdown">arrow_downward</mat-icon>
  </span>
</div>

<div>
  <canvas id="myChart" width="657px" height="313px" class="_chartAlign"></canvas>
</div>
