
<div style="display: flex;">
  <div title="Started Succesfully" style="height: 40px;width: 40px;border-radius: 50%;background:greenyellow">
  </div>

  <mat-progress-bar style="width:15%;align-self: center;" mode="determinate" value="100"></mat-progress-bar>

  <div title="Process Succesfully" style="height: 40px;width: 40px;border-radius: 50%;background:greenyellow">
  </div>

  <mat-progress-bar style="width:15%;align-self: center;" mode="determinate" value="100"></mat-progress-bar>

  <div title="Succesfully runned and Stopped" style="height: 40px;width: 40px;border-radius: 50%;background:greenyellow">
  </div>

</div>

<p>{{data.datasource.name}}</p>